<div id="navigation">
  <div class="interior">
    <!-- <div id="top-minimenu">
                <div class="menu-menutop-container"></div>      <div style="clear:both"></div>
              </div> --><!-- end of top-minimenu-->
    <div style="clear:both;"></div>
  </div> 
</div> <!-- navigation -->