

body {
background-color:#f9f8f8;
background-image:url('../images/grid.gif');
background-position:center top;
}


#top-minimenu {
text-align:left;

padding:2px 10px !important;
background-image:url('../images/fondonew.png');
background-repeat:repeat-x;
background-position:left bottom;
border-width:0px;
background-color:#fff;
	box-shadow: 		0 1px 5px #789;
	-webkit-box-shadow: 0 1px 5px #789;
	-moz-box-shadow: 	0 1px 5px #789;
}

#top-minimenu ul li.current-menu-item a {
color:#b37E62 !important;
}




#mainmenu {
text-align:left;
background-image:url('../images/sombragrandeabajo.png');
background-repeat:repeat-x;
background-position:center 45px;
padding:0px 0px 18px 0px;
background-color:#f9f9f9;
margin:0;

}





#fondo {
background-repeat:no-repeat;
background-image:url('../images/fondotext.png');
z-index:-100 !important;
background-position:center top;

}

#fondoint {
background-repeat:no-repeat;
background-image:url('../images/fondotextbottom.png');
z-index:-100 !important;
background-position:center bottom;
}


#head_trans {
background-image:url('../images/transani_default.png'); 
}

#contenedor-exterior {
background-repeat:repeat-x;
background-position:left top;
position:relative;
z-index:23;

}

#top-featuredposts {

margin-bottom:30px;
padding:20px 0;
	box-shadow: 		0 1px 10px #789;
	-webkit-box-shadow: 0 1px 10px #789;
	-moz-box-shadow: 	0 1px 10px #789;
	background:url('../images/comment.png') left bottom repeat-x;
	background-color:#fafafa;
		border-radius: 			8px;
	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
}

#main {
background-color:#f8f8f8;
}


#top-titlemenu ul li {
background-image:none;
}

#top-titlemenu ul li a{
font-family:'steelfish bd', impact;
font-size:30px;
text-shadow:1px 1px 1px #000;
text-transform:uppercase;
color:#fafafa;
}

#top-titlemenu ul li a:hover {color:#e37E62;}

#top-titlemenu span.sub {
text-transform:none;
font-style:italic;
font-family:droidtalic, droid !important;
text-shadow:1px 1px 1px #fff !important;
color:#000 !important;
}



#main .interior {
border-width:0;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}


.sombraborde {
overflow:hidden;
	box-shadow: 		0 1px 10px #789;
	-webkit-box-shadow: 0 1px 10px #789;
	-moz-box-shadow: 	0 1px 10px #789;
	border-radius: 			8px;
	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	background-color:#fafafa;
	

	
}

/*templates*/
#frontpage1 {
font-family:droidsans;
}

#frontpage1 #maincolumns .widget .ktt-columnpost-item {
font-family:droid;
}


/* widgets */
.ktt-columnpost-item .ktt-columnpost-title, .ktt-columnpost-item .ktt-columnpost-comments  {
margin-left:10px;
margin-right:5px;
} 
.ktt-columnpost-item .ktt_columnpost-content {
line-height:150%;
margin-left:10px;
margin-right:5px;
} 

/* italic style for content in column widgets of front page */
#frontpage1 #maincolumns  .ktt_columnpost-content {font-family:droidtalic,droid;font-style:italic} 

/* italic style for content in category pages */
#category #maincolumns  .hentry .contenido {font-family:droidtalic,droid;font-style:italic;color:#666;} 




/* -------- footer ----------- */

#footer-top {
}

#footer {

overflow:hidden;
width:1000px;
margin:auto;

}


.pie2 {
 background-image:url('../images/column2.png') !important;
background-repeat:no-repeat !important;
background-position:right top !important;
background-color:#f4f4f4;
margin:2px;
border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
}

.pie2 .interior {
background-image:url('../images/h-separatorflowreverse.png') !important;
background-repeat:repeat-x !important;
background-position:left bottom !important;padding:0 10px;
min-height:30px;
}


#footer span.totop {
display:block;
height:80px;
width:80px;
position:absolute;
margin-top:-56px;
margin-left:435px;
background-image:url('../images/topbutton.png');
background-repeat:no-repeat;
background-position:center top;
z-index:90;
cursor:pointer;
color:#f4f4f4;
}

#footer span.totop:hover {
background-position:center -80px;
}

#footer span.totop:active {
background-position:center -160px;
}

#footer .widget {
padding:0 20px;
font-size:11px;
font-family:'droidsans';
}

#footer .widget a{
color:#777;
}

#footer .widget h3 {
color:#aaa;
text-shadow:1px 1px 1px #fff;
background-image:none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
font-family:'steelfish bd';
font-size:20px;
text-transform:uppercase;
background-image:url('../images/fondonew.png');
background-repeat:repeat-x;
background-position:left bottom;
padding:5px 10px;
border-style:solid;
border-width:1px;
border-color:#eee #ddd #ddd #eee;
}


#footer .widget ul li {
padding:10px 0;
list-style: none;
font-size:11px;
font-family:'droidsans';
}
 
#footer .widget ul li + li {
background-image:url('../images/h-separatorflow.png');
background-repeat:repeat-x;
background-position:right top;
}

#footer-content {
margin-top:8px;
background-color:#fafafa;
border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	
		box-shadow: 		0 1px 10px #789;
	-webkit-box-shadow: 0 1px 10px #789;
	-moz-box-shadow: 	0 1px 10px #789;
}

.footertext {
padding:20px;
background-image:url('../images/h-separatorflow.png');
background-repeat:repeat-x;
background-position:right top;
}