<!--Content-->
<div id="content">
  <div class="container clearfix" id="projects"> 

    <%= yield %>

    <!--Forms-->

    <!--Footer-->
    <div id="footer" class="separator"> 
      &#169; Copyright 2011 pembebasBangsa |  <a href="#">Top</a> 
    </div>
  </div>
</div> <!-- #content -->




